<label class="input-radio-fancy" title="<%= text %>" aria-label="<%= text %>">
  <input 
    tabindex="0" 
    type="radio" 
    name="<%= name %>"
    value="<%= value %>"
    data-state="is-pristine" 
    onfocus="dirty(event)"
    onblur="validate(event)"
    <% if (required == true) { %>
      required
    <% } %>
    <% if (checked == true) { %>
      checked
    <% } %>
  >
  <span class="outline">
    <span class="input-radio-icon"></span>
    <span class="input-radio-label">
      <%= text %>
    </span>
  </span>
  <div 
    class="input-validation-message"
    <% if (required == true) { %>
      data-message-error-required="<%= message.error.required %>"
    <% } %>
    data-message-error-invalid="<%= message.error.invalid %>"
  ></div>
</label>